@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
}
.container {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    background-color: blue;
    grid-area: 1/1/3/2;
}

.header {
    background-color: red;
    grid-area: 1/2/2/3;
}

.article {
    background-color: green;
    grid-area: 2/2/3/3;
}